body {
  background-color: black;
}

h1 {
  color: red;
  text-align: center;
}

#main-page-title {
  color: red;
  text-align: center;
  padding: 150px;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

nav li {
  list-style: none;
}

a {
  text-decoration: none;
  color:blue;
  background-color: rgb(192, 83, 83);
  font-size: 20px;
  padding: 10px;
  border-radius: 10%;
}

h3:hover {
  cursor: pointer;
}

#letters {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-around;
  font-size: 24px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.each-letter {
  background-color: azure;
  padding: 5px;
}

.each-letter:hover {
  cursor: pointer;
}

#characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#comics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.each-character, .each-comic {
  width: 200px;
  height: 250px;
  box-sizing: border-box;
  display: flex;
  border: 5px solid blueviolet;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex: 1 0 33.3333%;
  background-color: aqua;
}

.each-picture{
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: cover;
}
