h1 {
  color: red;
}

h3:hover {
  cursor: pointer;
}

#characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.each-character {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 33.3333%;
}

.each-picture{
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: cover;
}
